* {
    font-family: 'Fira Code', monospace;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left, .modules-center, .modules-right {
    margin-top: 0.4em; 
}

#workspaces {
    padding: 0 0.1em 0 0;
    border-radius: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#workspaces button {
    background-color: transparent;
    margin: 0 7px;
    padding: 0;
    color: rgb(100, 100, 100);
    transition-property: color;
    transition-duration: .1s;
}

#workspaces button.active {
    color: rgb(200, 200, 200);
}

#workspaces button:hover {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    color: rgb(255, 255, 255);
}


